Telethon==1.24.0
aiohttp
pymongo
pymongo[srv]
git+https://github.com/subinps/pyrogram@inline-m
tgcrypto==1.2.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
telegraph==1.4.1
googletrans
gTTS
config
asyncio==3.4.3
aiofiles
requests
pyshorteners
bs4
psutil
wget
python-arq
ffmpeg-python
requests
ytthumb
